**Actividad 1**

In [1]:
# Importar pandas
import pandas as pd

In [2]:
# Crea una Serie de los numeros 10, 20 and 10.
serie = pd.Series([10, 20, 10])
serie

0    10
1    20
2    10
dtype: int64

In [3]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
serie01 = pd.Series(["rojo", "verde", "azul"])
serie01

0     rojo
1    verde
2     azul
dtype: object

In [4]:
# Crea un dataframe vac√≠o llamado 'df'
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [5]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df['col'] = serie
df

   col
0   10
1   20
2   10

In [6]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df['col01'] = serie01
df

   col  col01
0   10   rojo
1   20  verde
2   10   azul

In [8]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo est√° localizado en "data/avengers.csv"
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

avengers = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/REPASO 2022/data/avengers.csv")
avengers.head()

Mounted at /content/drive

                                                 URL  ...                                              Notes
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...

[5 rows x 7 columns]

In [9]:
# Muestra las primeras 10 filas del DataFrame. 
avengers.head(10)

                                                 URL  ...                                              Notes
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...
5  http://marvel.wikia.com/Richard_Jones_(Earth-616)  ...                                                NaN
6  http://marvel.wikia.com/Steven_Rogers_(Earth-616)  ...    Dies at the end of Civil War. Later comes back.
7   http://marvel.wikia.com/Clint_Barton_(Earth-616)  ...  Dies in exploding Kree ship in Averngers Vol. ...
8  http://marvel.wikia.com/Pietro_Maximoff_(Earth...  ...  Dies in House of M Vol 1 Issue 7. Later comes ...
9  http://marvel.wikia.com/Wanda_Maximoff_(Earth-...  ...  Dies in Uncanny_Avengers_Vol_1_14. Later comes...

[10 rows x 7 columns]

In [10]:
# Muestra las √∫ltimas 5 filas del DataFrame.
avengers.tail()

                                                   URL  ... Notes
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#  ...   NaN
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...  ...   NaN
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...  ...   NaN
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#  ...   NaN
172         http://marvel.wikia.com/Kaluu_(Earth-616)#  ...   NaN

[5 rows x 7 columns]

In [11]:
# Muestra el tama√±o del DataFrame
avengers.shape

(173, 7)

In [12]:
# Muestra los data types del dataframe
avengers.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

In [13]:
# Cambia el indice a la columna "fecha_inicio".
avengers = avengers.set_index("fecha_inicio")
avengers

                                                            URL  ...                                              Notes
fecha_inicio                                                     ...
1963              http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1963          http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
1963          http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
1963          http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
1963           http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...
...                                                         ...  ...                                                ...
2013           http://marvel.wikia.com/Eric_Brooks_(Earth-616)#  ...                                                NaN
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...  ...                                                NaN
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...  ...                                                NaN
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#  ...                                                NaN
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#  ...                                                NaN

[173 rows x 6 columns]

In [14]:
# Ordena el √≠ndice de forma descendiente
avengers.sort_index(ascending=False)

                                                            URL  ...                                              Notes
fecha_inicio                                                     ...
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#  ...                                                NaN
2015          http://marvel.wikia.com/Sam_Alexander_(Earth-6...  ...                                                NaN
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#  ...                                                NaN
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...  ...                                                NaN
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...  ...                                                NaN
...                                                         ...  ...                                                ...
1900          http://marvel.wikia.com/Emery_Schaub_(Earth-616)#  ...                                                NaN
1900          http://marvel.wikia.com/James_Santini_(Earth-6...  ...                                                NaN
1900          http://marvel.wikia.com/Elvin_Haliday_(Earth-6...  ...                                                NaN
1900          http://marvel.wikia.com/William_Baker_(Earth-6...  ...  Died in Identity_Disc_Vol_1_1. Later was revea...
1900           http://marvel.wikia.com/Julie_Power_(Earth-616)#  ...                                                NaN

[173 rows x 6 columns]

In [15]:
# Resetea el indice
avengers = avengers.reset_index()
avengers

     fecha_inicio  ...                                              Notes
0            1963  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1            1963  ...  Dies in Secret Invasion V1:I8. Actually was se...
2            1963  ...  Death: "Later while under the influence of Imm...
3            1963  ...  Dies in Ghosts of the Future arc. However "he ...
4            1963  ...  Dies in Fear Itself brought back because that'...
..            ...  ...                                                ...
168          2013  ...                                                NaN
169          2014  ...                                                NaN
170          2014  ...                                                NaN
171          2014  ...                                                NaN
172          2015  ...                                                NaN

[173 rows x 7 columns]

**Actividad 2**

Supongamos que somos un agente de Airbnb localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado airbnb.csv (en la carpeta data) donde tenemos informaci√≥n de todos los alojamientos de Airbnb en Lisboa.

In [23]:
airbnb = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/REPASO 2022/data/airbnb.csv")
airbnb.tail(20)

        room_id    host_id        room_type  ... accommodates  bedrooms  price
13212  19370578  131185696  Entire home/apt  ...            5       2.0   71.0
13213  19370769  135787783  Entire home/apt  ...            4       2.0  176.0
13214  19373212  131185696  Entire home/apt  ...            4       2.0   75.0
13215  19376122  119457178  Entire home/apt  ...            5       2.0   64.0
13216  19379554  104083974  Entire home/apt  ...            4       1.0   69.0
13217  19379856   12723358  Entire home/apt  ...            2       1.0   80.0
13218  19380177  104083974  Entire home/apt  ...            6       2.0   69.0
13219  19380414   85047832  Entire home/apt  ...            2       0.0   52.0
13220  19380457  104083974  Entire home/apt  ...            6       3.0   93.0
13221  19381136  131185696  Entire home/apt  ...            3       1.0   48.0
13222  19383103   48844725  Entire home/apt  ...            4       2.0   84.0
13223  19383615  100924999  Entire home/apt  ...            4       1.0   52.0
13224  19385945  135895465  Entire home/apt  ...            4       2.0   64.0
13225  19386235   55922649  Entire home/apt  ...            4       1.0   87.0
13226  19386898   95929866  Entire home/apt  ...            3       1.0   91.0
13227  19388006  135915593  Entire home/apt  ...            6       3.0  415.0
13228  19393935    5376796  Entire home/apt  ...            3       1.0   50.0
13229  19396300    6115933  Entire home/apt  ...            6       4.0  138.0
13230  19397373   97139334  Entire home/apt  ...            4       1.0   56.0
13231  19400722   28219108  Entire home/apt  ...            5       3.0   75.0

[20 rows x 9 columns]

En concreto el dataset tiene las siguientes variables:

* room_id: el identificador de la propiedad 
* host_id: el identificador del due√±o de la propiedad
* room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitaci√≥n privada)
* neighborhood: el barrio de Lisboa
* reviews: El numero de opiniones
* overall_satisfaction: Puntuacion media del apartamento
* accommodates: El numero de personas que se pueden alojar en la propiedad
* bedrooms: El n√∫mero de habitaciones
* price: El precio (en euros) por noche

**Caso 1**

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Est√°n buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con m√°s de 10 cr√≠ticas con una puntuaci√≥n mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuaci√≥n. Para aquellas habitaciones que tienen la misma puntuaci√≥n, debemos mostrar antes aquellas con m√°s cr√≠ticas. Debemos darle 3 alternativas.

In [17]:
alicia = airbnb[    
  # lugares con m√°s de 10 cr√≠ticas
  (airbnb.reviews > 10) &

  #puntuaci√≥n mayor de 4
  (airbnb.overall_satisfaction > 4) &

  # apartamento con habitaciones separadas
  (airbnb.bedrooms >= 2)

# ordenar las habitaciones de mejor a peor puntuaci√≥n
].sort_values(
    by=["overall_satisfaction","reviews"], 
    ascending=False
    
# Debemos darle 3 alternativas.
).head(3)

alicia

     room_id  host_id        room_type  ... accommodates  bedrooms  price
120   176153   842219  Entire home/apt  ...            4       2.0  102.0
16     44043   192830  Entire home/apt  ...            7       3.0   80.0
140   202150   989393  Entire home/apt  ...            4       2.0   62.0

[3 rows x 9 columns]

**Caso 2**

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las cr√≠ticas de su alojamiento. Hoy est√° particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene m√°s cr√≠ticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387 respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xlsx"

In [37]:
roberto =  airbnb[airbnb.room_id.isin([97503, 90387])] 
roberto.to_excel("roberto.xlsx", index=False)  
robertoExcel = pd.read_excel("roberto.xlsx")
robertoExcel

   room_id  host_id     room_type  ... accommodates  bedrooms  price
0    90387   490050  Private room  ...            2         1     46
1    97503   515924  Private room  ...            2         1     26

[2 rows x 9 columns]

**Caso 3**

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50‚Ç¨ para su alojamiento. Debemos buscarle las 10 propiedades m√°s baratas, dandole preferencia a aquellas que sean habitaciones compartidas (room_type == Shared room), y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuaci√≥n.

In [39]:
diana = airbnb[
    # menor de 50 euros x 3 noches
    (airbnb.price <= 50/3) &
  
    # habitacion compartida
    (airbnb.room_type == 'Shared room') 

# ordenar por precio y  puntuacion
].sort_values(
    by=["price", "overall_satisfaction"],

    # ascendente para precio y descendente para puntuacion 
    ascending= [True, False]
).head(10)

diana

        room_id    host_id    room_type  ... accommodates  bedrooms  price
1010    1179457    5799522  Shared room  ...           16       1.0   10.0
3562    5557699   28812904  Shared room  ...            1       1.0   10.0
7584   13116032   72951043  Shared room  ...            8       1.0   10.0
13148  19314160  135270245  Shared room  ...            1       1.0   10.0
9065   14933182   91501272  Shared room  ...            8       1.0   11.0
4353    6728244   28812904  Shared room  ...            1       1.0   11.0
5616    9317561   48360716  Shared room  ...            4       1.0   11.0
6640   11693356   28812904  Shared room  ...            1       1.0   11.0
6641   11693442   28812904  Shared room  ...            1       1.0   11.0
8908   14708916   91501272  Shared room  ...            4       1.0   11.0

[10 rows x 9 columns]